// problems ratings chart tags should be in ascending order
// buttons in ratings charts are not working properly
// colors of second user in langchart should be update
doctype html
html 
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible' content='ie=edge')

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src='https://kit.fontawesome.com/a076d05399.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        title='CFanalyzer'
    body(style="font-family: 'Inter var',sans-serif")
        nav(class='navbar navbar-expand-lg fixed-top d-flex justify-content-between' style='background-color: #F5F5F5')
            div
                ul(class='navbar-nav')
                    li(class='nav-item')
                        h4
                            a(class='navbar-brand text-success' href='/')='CFanalyzer'
                    li(class='nav-item')
                        h5
                            a(class='navbar-brand text-dark' href='/suggestions' style='text-decoration:none')='Problems'
                    li(class='nav-item')
                        h5
                            a(class='navbar-brand text-dark' href='/compare' style='text-decoration:none')='Compare'
                    li(class='nav-item')
                        h5
                            a(class='navbar-brand text-dark' href='/groups' style='text-decoration:none')='Groups'
            div
                button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                    span(class='navbar-toggler-icon')
                div(class='collapse navbar-collapse' id='collapsibleNavbar')
                    ul(class='navbar-nav')
                        if(username)
                            li(class='nav-item dropdown')
                                h5
                                    a(class='nav-link dropdown-toggle text-dark' href=`/user/${username}` id='navbardrop' data-toggle='dropdown')=username
                                    div(class='dropdown-menu dropdown-menu-right')
                                        a(class='dropdown-item' href='/signout')='Sign out'
                        else
                            li(class='nav-item')
                                a(href='/signin' style='font-size:22px; color:black; text-decoration:none')='Sign in'
        div(class='container col-12 col-sm-6 offset-sm-3 shadow p-3 mb-5 bg-white rounded' style='margin-top:100px')
            form(action='/compare' method='post')
                div(class='form-group col-sm-6 offset-sm-3')
                    input(type='text' class='form-control form-control-lg' id='handle1' placeholder='Enter first handle' name='handle1' required)
                    input(type='text' class='form-control form-control-lg' id='handle2' placeholder='Enter second handle' name='handle2' required)
                input(type="submit" value="submit" )

        if(search)
            div(class='container d-flex justify-content-center')
                table
                    tr 
                        td handle: 
                        td #{handle}
                        td #{Handle}
                    tr 
                        td rating:  
                        td #{rating}
                        td #{Rating}
                    tr
                        td maxrating:  
                        td #{maxrating}
                        td #{Maxrating}
                    tr 
                        td rank:  
                        td #{rank}
                        td #{Rank}
                    tr
                        td maxrank:  
                        td #{maxrank}
                        td #{Maxrank}
                    tr 
                        td no of contests:  
                        td #{noofcontests}
                        td #{Noofcontests}



            div(class='container d-flex justify-content-center' style="float:center")
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    canvas(id='verdictChart')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    canvas(id='vverdictChart')
            div(class='container d-flex justify-content-center' style="float:center")
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    canvas(id='langChart')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    canvas(id='LangChart')
            div(class='container d-flex justify-content-center' style="float:center")    
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    input(type="button" onclick="uvpdate()" value="show practice tags" id="ratingsbutton")
                    canvas(id='ratingschart')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    input(type="button" onclick="uupdate()" value="show practice tags" id="rratingsbutton")
                    canvas(id='Ratingschart')
            div(class='container d-flex justify-content-center' style="float:center")
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    p
                    canvas(id='contestChart')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:300px; width:400px')
                    p
                    canvas(id='ContestChart')
                


        script.
            var ctx = document.getElementById('verdictChart').getContext('2d');
            var verdictChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Accepted', 'Compilation Error', 'Runtime Error', 'Wrong Answer', 'Time Limit Exceeded', 'Memory Limit Exceeded'],
                    datasets: [{
                        label: '# of Votes',
                        data: Array(#{problemVerdicts}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });     
        script.
            var ctx = document.getElementById('langChart').getContext('2d');
            var langChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Languages Used',
                        data: Array(#{langCountList}),
                        backgroundColor: [],
                        borderColor: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            
            function addLangData() {
                var langs = !{JSON.stringify(langList)};
                langs = langs.split(",");
                var r, g, b;
                for(var i = 0; i < langs.length; i++){
                    r = Math.round(Math.random()*255);
                    g = Math.round(Math.random()*255);
                    b = Math.round(Math.random()*255);
                    if(langChart.data.datasets[0].backgroundColor.includes(`rgba(${r}, ${g}, ${b}, 0.5)`)){
                        i--;
                        continue;
                    }
                    langChart.data.datasets[0].backgroundColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`);
                    langChart.data.datasets[0].borderColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`); 
                    langChart.data.labels.push(langs[i]);              
                }
                langChart.update();
            }

            addLangData();
            
        script.
            var ctx = document.getElementById('contestChart').getContext('2d');
            var contestChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['0', '1', '2', '3', '4', '5','6','7','8'],
                    datasets: [{
                        label: 'Problems solved per  contest',
                        data: Array(#{problemscount}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        
        
        script.
            var ctx = document.getElementById('ratingschart').getContext('2d');
            var ratingschart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Array(#{c_ratings}),
                    datasets: [{
                        label: 'Problems solved per contest',
                        data: Array(#{c_ratingscount}),
                        backgroundColor: 'red',
                        borderColor: 'red',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }); 

            function uvpdate()
            {
                var elem = document.getElementById("ratingsbutton");
                if(elem.value=="show contest tags")
                {
                    elem.value="show practice tags";
                    ratingschart.data.labels=Array(#{c_ratings});
                    ratingschart.data.datasets[0].data=Array(#{c_ratingscount});
                    ratingschart.data.datasets[0].label='problems solved in contest';
                    //ratingschart.data.labels=Array(#{c_ratings});
                    ratingschart.update();
                    
                }
                else 
                {
                    elem.value="show contest tags";
                    ratingschart.data.labels=Array(#{p_ratings});
                    ratingschart.data.datasets[0].data=Array(#{p_ratingscount});
                    ratingschart.data.datasets[0].label='problems solved in practice';
                    //ratingschart.data.labels=Array(#{p_ratings});
                    ratingschart.update();
                    
                }
            }
        
        
        //second user charts start here
        //second
        //second


        script.
            var ctx = document.getElementById('vverdictChart').getContext('2d');
            var verdictChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Accepted', 'Compilation Error', 'Runtime Error', 'Wrong Answer', 'Time Limit Exceeded', 'Memory Limit Exceeded'],
                    datasets: [{
                        label: '# of Votes',
                        data: Array(#{vverdictList}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });     
        script.
            var ctx = document.getElementById('LangChart').getContext('2d');
            var langChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Languages Used',
                        data: Array(#{LangCountList}),
                        backgroundColor: "red",
                        borderColor: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            
            function AddLangData() {
                var langs = !{JSON.stringify(LangList)};
                langs = langs.split(",");
                var r, g, b;
                for(var i = 0; i < langs.length; i++){
                    r = Math.round(Math.random()*255);
                    g = Math.round(Math.random()*255);
                    b = Math.round(Math.random()*255);
                    if(LangChart.data.datasets[0].backgroundColor.includes(`rgba(${r}, ${g}, ${b}, 0.5)`)){
                        i--;
                        continue;
                    }
                    LangChart.data.datasets[0].backgroundColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`);
                    LangChart.data.datasets[0].borderColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`); 
                    LangChart.data.labels.push(langs[i]);              
                }
                LangChart.update();
            }

            //AddLangData();
            
        script.
            var ctx = document.getElementById('ContestChart').getContext('2d');
            var contestChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['0', '1', '2', '3', '4', '5','6','7','8'],
                    datasets: [{
                        label: 'Problems solved per  contest',
                        data: Array(#{Problemscount}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        
        
        script.
            var ctx = document.getElementById('Ratingschart').getContext('2d');
            var ratingschart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Array(#{C_ratings}),
                    datasets: [{
                        label: 'Problems solved per contest',
                        data: Array(#{C_ratingscount}),
                        backgroundColor: 'red',
                        borderColor: 'red',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }); 

            function uupdate()
            {
                var elem = document.getElementById("rratingsbutton");
                if(elem.value=="show contest tags")
                {
                    elem.value="show practice tags";
                    Ratingschart.data.labels=Array(#{C_ratings});
                    Ratingschart.data.datasets[0].data=Array(#{C_ratingscount});
                    Ratingschart.data.datasets[0].label='problems solved in contest';
                    //ratingschart.data.labels=Array(#{C_ratings});
                    Ratingschart.update();
                    
                }
                else 
                {
                    elem.value="show contest tags";
                    Ratingschart.data.labels=Array(#{P_ratings});
                    Ratingschart.data.datasets[0].data=Array(#{P_ratingscount});
                    Ratingschart.data.datasets[0].label='problems solved in practice';
                    //ratingschart.data.labels=Array(#{P_ratings});
                    Ratingschart.update();
                    
                }
            }
        

        
