doctype html
html 
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible' content='ie=edge')

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src='https://kit.fontawesome.com/a076d05399.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        title='CFanalyzer'
    body(style="font-family: 'Inter var',sans-serif")
        nav(class='navbar navbar-expand-lg fixed-top d-flex justify-content-between' style='background-color: #F5F5F5')
            div
                a(class='navbar-brand text-dark' href='#')
                    h3='CFanalyzer'
            div
                button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                    span(class='navbar-toggler-icon')
                div(class='collapse navbar-collapse' id='collapsibleNavbar')
                    ul(class='navbar-nav')
                        if(username)
                            li(class='nav-item dropdown')
                                h5
                                    a(class='nav-link dropdown-toggle text-dark' href=`/user/${username}` id='navbardrop' data-toggle='dropdown')=username
                                    div(class='dropdown-menu dropdown-menu-right')
                                        a(class='dropdown-item' href='/signout')='Sign out'
                        else
                            li(class='nav-item')
                                a(href='/signin' style='font-size:22px; color:black; text-decoration:none')='Sign in'
        div(class='container col-12 col-sm-6 offset-sm-3 shadow p-3 mb-5 bg-white rounded' style='margin-top:100px')
            form(action='/' method='post')
                div(class='form-group col-sm-6 offset-sm-3')
                    input(type='text' class='form-control form-control-lg' id='username' placeholder='Enter a user name' name='username' required)

        if(search)
            div(class='container d-flex justify-content-center')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:600px; width:800px')
                    canvas(id='verdictChart')
            div(class='container d-flex justify-content-center')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:600px; width:800px')
                    canvas(id='langChart')
            div(class='container d-flex justify-content-center')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:600px; width:800px')
                    canvas(id='contestChart')
            div(class='container d-flex justify-content-center')
                div(class='chart-container' style='margin-top:75px; padding:5px 5px 5px 5px;  height:600px; width:800px')
                    canvas(id='tagChart')

        script.
            var ctx = document.getElementById('verdictChart').getContext('2d');
            var verdictChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Accepted', 'Compilation Error', 'Runtime Error', 'Wrong Answer', 'Time Limit Exceeded', 'Memory Limit Exceeded'],
                    datasets: [{
                        label: '# of Votes',
                        data: Array(#{problemVerdicts}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });     
        script.
            var ctx = document.getElementById('langChart').getContext('2d');
            var langChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Languages Used',
                        data: Array(#{langCountList}),
                        backgroundColor: [],
                        borderColor: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            
            function addLangData() {
                var langs = !{JSON.stringify(langList)};
                langs = langs.split(",");
                var r, g, b;
                for(var i = 0; i < langs.length; i++){
                    r = Math.round(Math.random()*255);
                    g = Math.round(Math.random()*255);
                    b = Math.round(Math.random()*255);
                    if(langChart.data.datasets[0].backgroundColor.includes(`rgba(${r}, ${g}, ${b}, 0.5)`)){
                        i--;
                        continue;
                    }
                    langChart.data.datasets[0].backgroundColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`);
                    langChart.data.datasets[0].borderColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`); 
                    langChart.data.labels.push(langs[i]);              
                }
                langChart.update();
            }

            addLangData();
            
        script.
            var ctx = document.getElementById('contestChart').getContext('2d');
            var contestChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['0', '1', '2', '3', '4', '5','6','7','8'],
                    datasets: [{
                        label: 'Problems solved in a contest',
                        data: Array(#{problemscount}),
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        script.
            var ctx = document.getElementById('tagChart').getContext('2d');
            var tagChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Problem types',
                        data: Array(#{tagCountList}),
                        backgroundColor: [],
                        borderColor: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            
            function addTagData() {
                var tags = !{JSON.stringify(tagList)};
                tags = tags.split(",");
                var r, g, b;
                for(var i = 0; i < tags.length; i++){
                    r = Math.round(Math.random()*255);
                    g = Math.round(Math.random()*255);
                    b = Math.round(Math.random()*255);
                    if(tagChart.data.datasets[0].backgroundColor.includes(`rgba(${r}, ${g}, ${b}, 0.5)`)){
                        i--;
                        continue;
                    }
                    tagChart.data.datasets[0].backgroundColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`);
                    tagChart.data.datasets[0].borderColor.push(`rgba(${r}, ${g}, ${b}, 0.5)`); 
                    tagChart.data.labels.push(tags[i]);              
                }
                tagChart.update();
            }

            addTagData();

        
