doctype html
html 
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible' content='ie=edge')

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src='https://kit.fontawesome.com/a076d05399.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        title='CFvisualizer'
    body(style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'")
        nav(class='navbar navbar-expand-lg fixed-top justify-content-between navbar-light' style='background-color:Turquoise')
            a(class='navbar-brand' href='/')='CFvisualizer'
            button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                    span(class='navbar-toggler-icon')
            div(class='collapse navbar-collapse' id='collapsibleNavbar')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/suggestions')='Problems'
                    li(class='nav-item')
                        a(class='nav-link' href='/compare')='Compare'
                    li(class='nav-item')
                        a(class='nav-link' href='/groups')='Groups'
                ul(class='navbar-nav')
                    if(username)
                        li(class='nav-item dropdown')
                            a(class='nav-link dropdown-toggle' href=`/user/${username}` id='navbardrop' data-toggle='dropdown')=username
                            div(class='dropdown-menu dropdown-menu-right')
                                a(class='dropdown-item' href='/signout')='Sign out'
                    else
                        li(class='nav-item')
                            a(class='nav-link' href='/signin')='Sign in'
        div(class='container shadow p-3 mb-5 bg-white rounded' style='margin-top:200px')
            h3(style='text-align:center')='Please verify your email address'
            h5(style='text-align:center')='An email was sent to the linked email address for verification'